<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>EZ-BAM</title>
  </head>

  <body class="bg-gradient-to-b from-gray-700 to-gray-500 shadow-md px-6 py-3 text-gray-400 min-h-screen font-sans">
    
    {% include 'components/navbar.html.jinja' %}

    <main class="max-w-4xl mx=auto p-6 mb-5">
        <h1 class=""text-xl font-blod>Your Cart</h1>
        {%for x in cart%}
            <div class="cart-row">
                <img src="{{x['Image']}}"
                class ="w-20 h-20 object-cover rounded-md border">
                <div class="text-lg font semibold ml-4">{{x['Name']}}</div>

    
                <div class="flex items-center justify-center space-x-2">
                    <form method="post" action="/cart/{{ x ['ProductID']}}/update_qty">
                    <input class="w-full" name="qty:" type="number"  value=" {{ x['Quantity']}} ">
                    <button> type="submit">update</button>
                    </form>
                </div>


                <div>F{{x['Price']}}</div>
                <div>F{{x['Price'] * x['Quantity']}}</div>
            </div>
        {%endfor%}
    
    </main>
  </body>
</html>