<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>EZ-BAM</title>
  </head>

  <body class="bg-gradient-to-b from-gray-700 to-gray-500 shadow-md px-6 py-3 text-gray-400 min-h-screen font-sans">
    
    {% include 'components/navbar.html.jinja' %}

    

<h1 class="text-3xl font-bold mb-6">Your Cart</h1>

{% if cart and cart|length > 0 %}

<div class="grid grid-cols-6 font-bold text-gray-300 mb-3 px-2">
    <div>Item</div>
    <div>Name</div>
    <div class="text-center">Qty</div>
    <div class="text-center">Price</div>
    <div class="text-center">Total</div>
</div>

<div class="space-y-2">
    {% for x in cart %}
    <div class="grid grid-cols-6 items-center bg-gray-800 shadow-md rounded-lg p-4 hover:shadow-lg transition text-gray-200">
        <img src="{{ x['Image'] }}" class="w-20 h-20 object-cover rounded-md border">

        <div class="text-lg font-semibold ml-4">
            {{ x['Name'] }}
        </div>

        <div class="w-16 text-center bg-gray-700 text-gray-200 rounded-md ml-26">
            <form method="post" action="/cart/{{ x['ProductID'] }}/update_qty">
                <input class="w-full" name="qty" type="number" min="1" max="50"
                       value="{{ x['Quantity'] }}" onchange="this.form.submit()">
            </form>
        </div>

        <div class="text-center font-medium text-gray-300">
            ${{ x['Price'] }}
        </div>

        <div class="text-center font-bold text-blue-500">
            ${{ x['Price'] * x['Quantity'] }}
        </div>

        <div class="flex justify-center">
            <form method="post" action="/cart/{{ x['ProductID'] }}/remove">
                    <button type="submit" class="text-red-600 hover:underline">
                        Remove
                    </button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>



{% else %}

<div class="flex flex-col items-center justify-center mt-20 text-gray-300">
    <h2 class="text-3xl font-bold mb-4">Your cart is empty </h2>
    <img 
        src="/static/empty_cart.gif" 
        class="w-auto h-auto"
        alt="EZ-BAM"
        class="w-auto h-auto"
      >
    <a href="/browse    "
       class="bg-blue-900 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition">
        Continue Shopping
    </a>
</div>

{% endif %}

</div>
x

    {% if cart and cart|length > 0 %}
        <div class="mt-10 bg-gray-700 shadow-lg rounded-lg p-6 w-full md:w-1/3 ml-auto text-gray-200">

            <h2 class="text-2xl font-bold mb-4">Order Summary</h2>



            <div class="flex justify-between text-xl font-bold border-t pt-4">
                <h2>Total: {{total}}</h2>
            
            <a href="/checkout" class="text-white mx-2 hover:underline bg-gradient-to-b from-gray-700 to-gray-900 shadow-md px-6 py-3 rounded-xl text-white font-semibold">checkout</a>
               
                
        </div>
            

            
        </div>
    {% endif %}
    
    </main>
  </body>
</html>